# Mandatory packages
django
django-crispy-forms
django-tables2
django-suit
django-ldap-sync
mysql-python
docutils

# Optional pachages for development server
django-debug-toolbar
django-extensions
werkzeug
